@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Poppins", sans-serif;
}

/* Centering the board */
.board {
   max-width: 320px; /* Adjusted for better centering */
   margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; /* Center the board vertically */
}

/* Ensuring a 3x3 grid */
.board-grid {
   display: grid;
   grid-template-columns: repeat(3, 100px); /* Each square 100px wide */
   gap: 4px;
}

/* Square styling */
.square {
   background-color: #f0f0f0;
   border: 2px solid #e0e0e0;
   font-size: 2rem;
   font-weight: bold;
   height: 100px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s ease;
}

.square:hover {
   background-color: #d0d0d0;
}

.status {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
}
